* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

    body {
    background-image: url(fondo.png);
}

header {background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
  top: 0;
}
a:link {color:blueviolet;}
a:hover {color: darkgoldenrod;
}
.navegador{
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    color: blueviolet;
    display:flex;justify-content:space-evenly; align-items: center;
}
i {color: rgb(255, 230, 0);}
a {text-decoration: none;}
form { width: 40%;
background-color:rgba(225, 124, 250, 0.87);
color: black;
padding: 30px;
margin: auto;
margin-top: 100px;
margin-bottom: 100px;
margin-right: 100px;
border-radius: 5px;
font-family: 'Abel', sans-serif;
}

form h1 {color:white}
form p {margin-bottom: 10px;
    font-size: 20px;
}

.control{
    width: 80%;
    padding:10px;
    margin-bottom: 10px;
    border: solid black 2px;
    background-color: antiquewhite;
}
form .boton {
    width: 80%;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-family:'Abel', sans-serif;
    font-size: 20px;
}

form .boton:hover {
    border:solid black 1px;
}

section {
   display: flex; justify-content: space-around;
}

.mapa { width: 40%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
}
iframe { width:100%;
   
}

.local {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-top:15px;
    box-shadow: 10px 17px 20px rgb(151, 16, 192);
    background-color:rgba(225, 124, 250, 0.87);
 }

 footer h3 {font-family:'Abel', sans-serif;
    color: white;
    padding: 10px;}
footer p {color: rgb(255, 255, 255); font-size: 20px ;font-family:'Abel', sans-serif;}

 footer {background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin-top: 20px;
    padding:30px;
    text-align:center;
}

i {color: rgb(255, 230, 0); 
font-size: 20px;
padding:10px;
}
.text {font-size: 20px;}

 @media only screen and (max-width:480px){
    .navegador{
        flex-direction: column;
    }
}
@media only screen and (max-width:600px){
    .navegador{
        flex-direction: column;
    }
}
@media only screen and (max-width:800px){
    .navegador{
        flex-direction: column;
    }
}

@media only screen and (max-width:480px){
    section {
        flex-direction: column;
    }
    .mapa , form  {width:100%;
    margin:auto;
    margin: 50px;}
}
@media only screen and (max-width:600px){
    section {
        flex-direction: column;
    }
    .mapa , form  {width: 80%;
    margin:auto;
    margin: 50px;}

}
@media only screen and (max-width:1000px){
    section {
        flex-direction: column;
    }
    .mapa , form {width: 70%;
    margin:auto;
    margin: 50px;}
}



  